
{% extends 'flatpages/default.html' %}

{% block title %}
News
{% endblock title %}

{% block content %}
<h1>{{ posts}}</h1>
    <h3>{{ time_now|date:'d M Y' }}</h3>
    <hr>
       <table>
           <tr>
               <td>Новость.</td>
               <td>Заголовок</td>
               <td>Дата</td>
               <td>Текст</td>

           </tr>

           <tr>
               <td>{{ post.content_type }}</td>
               <td>{{ post.content_header }}</td>
               <td>{{ post.data }}</td>
               <td>{{ post.content_text}}</td>
           </tr>


       </table>
{% endblock content %}